[submodule "libdatachannel"]
	path = thirdparty/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel.git
[submodule "openssl"]
	path = thirdparty/openssl
	url = https://github.com/openssl/openssl.git