[submodule "libdatachannel"]
	path = thirdparty/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel.git
[submodule "openssl"]
	path = thirdparty/openssl
	url = https://github.com/openssl/openssl.git
[submodule "thirdparty/godot-steam-audio/src/lib/steamaudio"]
	url = https://github.com/ValveSoftware/steam-audio.git
